header {
    position: relative;
    margin-top: 3rem; /* 48px */
    z-index: 91;
}

.header-main {
    background: rgba(244, 241, 236, 1);
    border-radius: 1.5rem; /* 24px */
    padding: 1rem 2rem; /* 16px 32px */
    transform: translateY(-3.125rem); /* -50px */
    transition: 0.7s;
    opacity: 0;
}

.header-anime .header-main {
    transform: translateY(0);
    transition: 0.7s;
    opacity: 1;
}

.header-logo {
    gap: 1rem; /* 16px */
}

.logo span {
    color: rgba(11, 58, 42, 1);
    font-weight: 400;
    font-size: 0.75rem; /* 12px */
    line-height: 1.125rem; /* 18px */
    letter-spacing: 0.2px;
}

.open-menu {
    width: 1.25rem; /* 20px */
    height: 1.25rem; /* 20px */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.1875rem; /* 3px */
    cursor: pointer;
}

.open-menu span {
    transition: 0.3s;
    width: 1rem; /* 16px */
    display: block;
    height: 0.125rem; /* 2px */
    background: rgba(11, 58, 42, 1);
    border-radius: 0.625rem; /* 10px */
}

.header-cont-flex {
    gap: 1rem; /* 16px */
}

.phone-number {
    color: rgba(11, 58, 42, 1);
    font-weight: 400;
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
    text-align: right;
}

.request-call {
    color: rgba(11, 58, 42, 1);
    font-weight: 600;
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
    text-align: right;
    cursor: pointer;
    transition: 0.3s;
}

.request-call:hover {
    color: rgba(11, 58, 42, 1);
}

.favorite-box {
    width: 3.25rem; /* 52px */
    height: 3.25rem; /* 52px */
    border-radius: 50%;
    background: rgba(244, 241, 236, 1);
    cursor: pointer;
    transition: 0.3s;
    border: 0.09375rem solid rgba(11, 58, 42, 1); /* 1.5px */
}

.favorite-box:hover {
    background: rgba(11, 58, 42, 1);
}

.favorite-box i {
    background-color: rgba(11, 58, 42, 1);
    width: 1.25rem; /* 20px */
    height: 1.25rem; /* 20px */
}

.favorite-box:hover i {
    background-color: rgba(255, 255, 255, 1);
}

.threed-tur {
    color: rgba(11, 58, 42, 1);
    font-weight: 600;
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    border-radius: 50px;
    border: 1px solid rgba(11, 58, 42, 1);
    background: rgba(244, 241, 236, 1);
    padding: 0.9375rem 1.5rem; /* 15px 24px */
}

.threed-tur:hover {
    background: rgba(11, 58, 42, 1);
    color: rgba(244, 241, 236, 1);
}

.select-property {
    position: relative;
}

.select-block {
    gap: 1rem; /* 16px */
}

.select-name {
    background: rgba(11, 58, 42, 1);
    min-width: 14.625rem; /* 234px */
    height: 3.25rem; /* 52px */
    gap: 0.25rem; /* 4px */
    border-radius: 2rem; /* 32px */
    padding: 1rem 1rem 1rem 1.5rem; /* 16px 16px 16px 24px */
    color: rgba(244, 241, 236, 1);
    font-weight: 600;
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
}

.select-name:hover {}

.select-name:after {
    content: '';
    position: absolute;
    top: 1.3125rem; /* 21px */
    right: 1.3125rem; /* 21px */
    width: 0.40625rem; /* 6.5px */
    height: 0.40625rem; /* 6.5px */
    border-top: 0.125rem solid rgba(244, 241, 236, 1); /* 2px */
    border-right: 0.125rem solid rgba(244, 241, 236, 1); /* 2px */
    transform: rotate(45deg);
}

.select-name i {
    display: none;
}

.select-dropdown {
    background: rgba(244, 241, 236, 1);
    border: 1px solid #EFEFEF;
    box-shadow: 0px 0.25rem 0.625rem 0px #0000000D; /* 0px 4px 10px */
    width: 16.625rem; /* 266px */
    position: absolute;
    top: 3.625rem; /* 58px */
    right: 0;
    overflow: hidden;
    height: 0;
    transition: 0.3s;
    border-radius: 0.75rem; /* 12px */
    z-index: 111;
    visibility: hidden;
}

.select-property-open .select-dropdown {
    height: 9.375rem; /* 150px */
    visibility: visible;
}

.select-dropdown ul {
    padding: 0.375rem; /* 6px */
}

.select-dropdown ul li {
    font-weight: 500;
    font-size: 1rem; /* 16px */
    line-height: 100%;
    color: rgba(43, 43, 43, 1);
    text-align: left;
    padding: 0.4375rem 0.75rem; /* 7px 12px */
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0.375rem; /* 6px */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-dropdown ul li:hover {
    background: rgba(11, 58, 42, 0.2);
}

.select-dropdown ul li i {
    transition: 0.3s;
    opacity: 0.3;
    width: 1.25rem; /* 20px */
}

.select-dropdown ul li:hover i {
    opacity: 1;
}

.menu-modal {
    width: 100%;
    position: absolute;
    z-index: 211;
    top: 6.0625rem; /* 97px */
    left: 0;
    opacity: 0;
    transition: 0.4s;
    visibility: hidden;
    transform: translateY(-0.625rem); /* -10px */
}

.menu-modal-opened {
    opacity: 1;
    transition: 0.4s;
    visibility: visible;
    transform: translateY(0);
}

.menu-modal-fon {
    border: 1px solid rgba(203, 184, 169, 0.4);
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0.25rem 1.25rem 0px rgba(0, 0, 0, 0.1); /* 0px 4px 20px */

    width: 100%;
    border-radius: 1.5rem; /* 24px */
    padding: 2rem; /* 32px */
    display: flex;
    justify-content: space-between;
    gap: 2rem; /* 32px */
    height: 41.6875rem; /* 668px */
}

.menu-modal-min {
    max-width: 54.375rem; /* 866px */
    width: 100%;
}

.menu-modal-cnt {
    max-width: 19.875rem; /* 318px */
    width: 100%;
}

.menu-data-menu ul li {
    cursor: pointer;
    padding: 0.75rem 0.625rem 0.75rem 0.75rem; /* 12px 10px 12px 12px */
    color: rgba(11, 58, 42, 1);
    font-weight: 600;
    font-size: 1.125rem; /* 18px */
    line-height: 1.5rem; /* 24px */
    transition: 0.3s;
    border-radius: 0.75rem; /* 12px */
}

.menu-data-menu ul li:hover {
    background: rgba(11, 58, 42, 0.1);
    color: rgba(11, 58, 42, 1);
}

.menu-data-link ul li a {
    padding: 0.5rem 1rem; /* 8px 16px */
    font-weight: 400;
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
    color: rgba(11, 58, 42, 1);
    transition: 0.3s;
    gap: 0.25rem; /* 4px */
    display: flex;
    align-items: center;
}

.menu-data-link ul li a:hover {
    color: rgba(11, 58, 42, 1);
}

.btn-line {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 150px;
    width: 100%;
    margin-top: 1rem; /* 16px */
    border: 0.09375rem solid rgba(11, 58, 42, 1); /* 1.5px */
    padding: 0.6875rem 1.5rem; /* 11px 24px */
    background: rgba(244, 241, 236, 1);
    color: rgba(11, 58, 42, 1);
    font-weight: 700;
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    text-align: right;
    vertical-align: middle;
    gap: 0.625rem; /* 10px */
    transition: 0.3s;
}

/*.btn-line:hover{*/
/*}*/
.btn-line:hover i {
    background-color: rgba(244, 241, 236, 1);
}

.menu-modal-cnt .btn {
    display: none;
}

.project-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem; /* 16px */
    gap: 1rem; /* 16px */
}

.project-box {
    display: flex;
    width: calc(33.333333% - 0.75rem); /* 12px */
    border-radius: 1.5rem; /* 24px */
    position: relative;
}

.menu-modal-block h2 {
    font-size: 1.375rem; /* 22px */
    line-height: 1.5rem; /* 24px */
}

.project-box img {
    width: 100%;
    border-radius: 1.5rem; /* 24px */
    height: 100%;
}

.project-wrap .project-box img {
    height: 16.875rem; /* 270px */
}

.project-name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0 0 1.5rem 1.5rem; /* 24px */
    background: rgba(244, 241, 236, 0.1);
    backdrop-filter: blur(20px);
    padding: 1rem 1.5rem; /* 16px 24px */
}

.project-name span {
    color: rgba(244, 241, 236, 1);
    font-weight: 600;
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
}

.menu-property-col {
    width: calc(33.333333% - 0.75rem); /* 12px */
    gap: 1rem; /* 16px */
}

.select-menu-property {
    display: flex;
    gap: 1rem; /* 16px */
    margin-top: 0.75rem; /* 12px */
}

.menu-property-col .project-box {
    width: 100%;
}

.mortgage-flex {
    margin-top: 0.75rem; /* 12px */
    gap: 1rem; /* 16px */
    display: flex;
}

.mortgage-selec {
    gap: 1rem; /* 16px */
    max-width: 34.75rem; /* 556px */
    width: 100%;
}

.mortgage-box {
    width: calc(50% - 0.5rem); /* 8px */
    background: rgba(244, 241, 236, 1);
    height: 17rem; /* 272px */
    border-radius: 1.5rem; /* 24px */
    padding: 1rem; /* 16px */
}

.mortgage-box img {
    width: 5.375rem; /* 86px */
}

.mortgage-box p {
    margin-top: 1rem; /* 16px */
}

.mortgage-calc-menu-title {
    padding: 1rem 1rem 0; /* 16px 16px 0 */
}

.mortgage-calc-menu-title h3 {
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    margin-bottom: 1.5rem; /* 24px */
}

.mortgage-box h3,
.mortgage-box strong {
    margin-top: 0.875rem; /* 14px */
    display: block;
    font-weight: 600;
    font-size: 1.125rem; /* 18px */
    line-height: 1.625rem; /* 26px */
    color: rgba(43, 43, 43, 1);
}

header .mortgage-box p {
    height: 6.125rem; /* 98px */
}

.mortgage-calculator {
    background: rgba(11, 58, 42, 1);
    max-width: 18.375rem; /* 294px */
    width: 100%;
    border-radius: 1.5rem; /* 24px */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mortgage-calc-pirce {
    margin-top: 1rem; /* 16px */
}

.mortgage-calc-pirce span {
    font-weight: 700;
    font-size: 1.5rem; /* 24px */
    line-height: 1.5rem; /* 24px */
    color: rgba(255, 255, 255, 1);
}

.mortgage-calc-pirce p {
    color: rgba(244, 241, 236, 0.4);
    font-weight: 400;
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    margin-bottom: 0.25rem; /* 4px */
}

.menu-modal-stock {
    gap: 1rem; /* 16px */
    margin-top: 0.75rem; /* 12px */
}

.menu-modal-stock .timer-wrapper {
    width: calc(50% - 0.75rem); /* 12px */
}

.menu-modal-stock .family-mortgage-box {
    width: calc(50% - 0.75rem); /* 12px */
}

.bg-green {
    background: rgba(11, 58, 42, 1);
}

.bg-green h4 {
    color: rgba(244, 241, 236, 1);
}

.bg-green p {
    color: rgba(244, 241, 236, 1);
}

.header-nav {
    position: fixed;
    bottom: 1.5rem; /* 24px */
    left: 0;
    width: 100%;
    z-index: 991;
    justify-content: center;
    display: flex;
    transition: all 0.3s ease;
    visibility: hidden;
    transform: translateY(6.25rem); /* 100px */
    display: none;
}

.header-nav.show {
    visibility: visible;
    transform: translateY(0);
    transition: all 0.4s ease;
}

.nav-menu {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    border: 1px solid #FFFFFF1A;
    width: max-content;
    border-radius: 3rem; /* 48px */
    padding: 0.25rem; /* 4px */
}

.nav-menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem; /* 8px */
}

.nav-menu a {
    transition: 0.3s;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2.75rem; /* 44px */
    padding: 0.375rem 0.75rem; /* 6px 12px */
    color: rgba(244, 241, 236, 1);
    font-weight: 500;
    font-size: 1rem; /* 16px */
    line-height: 100%;
}

.nav-menu a:hover {
    background: rgba(11, 58, 42, 1);
    color: rgba(244, 241, 236, 1);
}

.nav-menu .nav-menu-active a:hover {
    background: rgba(11, 58, 42, 1);
    color: rgba(244, 241, 236, 1);
}

.menu-data-mobile {
    display: none;
}

.menu-modal-js {
    display: none;
}

.menu-modal-js.active {
    display: block;
}

.close-menu span {
    transform: translateY(-50%);
    position: relative;
}

.close-menu span:nth-child(1) {
    transform: rotate(45deg);
    top: 0.125rem; /* 2px */
    position: relative;
}

.close-menu span:nth-child(2) {
    transform: rotate(-45deg);
    top: -0.1875rem; /* -3px */
}

.close-menu span:nth-child(3) {
    display: none;
}

.select-property-mobile {
    display: none;
}

@media (max-width: 93.6875rem) { /* 1499px */
    header {
        margin-top: 2.5rem; /* 40px */
    }
}

@media (max-width: 85rem) { /* 1360px */
    .menu-modal-fon {
        padding: 1.5rem; /* 24px */
        gap: 1.25rem; /* 20px */
        height: 40rem; /* 640px */
    }

    .menu-data-menu ul li {
        font-size: 1rem; /* 16px */
        line-height: 1.25rem; /* 20px */
    }

    .menu-modal-cnt {
        max-width: 17.5rem; /* 280px */
    }

    .mortgage-calc-menu-title {
        padding: 0;
    }

    .menu-data-link ul li a {
        padding: 0.4375rem 1rem; /* 7px 16px */
    }
}

@media (max-width: 81.6875rem) { /* 1299px */
    .favorite-box {
        width: 3rem; /* 48px */
        height: 3rem; /* 48px */
    }

    .threed-tur {
        padding: 0.8125rem 1.25rem; /* 13px 20px */
    }

    .select-name {
        height: 3rem; /* 48px */
        padding: 0.875rem 1rem 0.875rem 1.375rem; /* 14px 16px 14px 22px */
    }

    .project-name span {
        font-size: 1rem; /* 16px */
        line-height: 1.5rem; /* 24px */
    }

    .stock-crash-box {
        padding: 2rem 1.375rem; /* 32px 22px */
        height: 15rem; /* 240px */
    }

    .stock-crash-box strong,
    .parking-space-price strong {
        font-size: 2rem; /* 32px */
    }

    .mortgage-calculator {
        max-width: 19.4375rem; /* 311px */
        padding: 1.5625rem 1.1875rem 1.25rem; /* 25px 19px 20px */
    }

    .mortgage-box {
        height: auto;
    }

    .header-main {
        padding: 1rem 1.5rem; /* 16px 24px */
    }

    .menu-modal {
        top: 5.8125rem; /* 93px */
    }
}

@media (max-width: 79.6875rem) { /* 1199px */
    .menu-modal-cnt {
        max-width: 17.5rem; /* 280px */
    }

    .menu-data-menu ul li {
        padding: 0.5rem 0.625rem 0.5rem 1rem; /* 8px 10px 8px 16px */
        font-size: 1.0625rem; /* 17px */
        line-height: 1.25rem; /* 20px */
    }

    .menu-data-link {
        margin-top: 0.375rem; /* 6px */
    }

    .menu-data-link ul li a {
        font-size: 1rem; /* 16px */
        line-height: 1.375rem; /* 22px */
    }

    .project-name {
        border-radius: 0 0 1rem 1rem; /* 16px */
    }

    header .mortgage-box p {
        height: 3.625rem; /* 58px */
    }

    .btn-line {
        margin-top: 0.75rem; /* 12px */
        padding: 0.5625rem 0.9375rem; /* 9px 15px */
        font-size: 0.9375rem; /* 15px */
    }

    .menu-modal-stock .family-mortgage-box {
        height: 6.3125rem; /* 101px */
    }

    .project-name span {
        font-size: 0.875rem; /* 14px */
        line-height: 1.375rem; /* 22px */
    }

    .menu-modal-fon {
        padding: 1.5rem; /* 24px */
        gap: 1rem; /* 16px */
        height: 35.5rem; /* 568px */
    }

    .project-wrap .project-box img {
        height: 14.375rem; /* 230px */
        border-radius: 1.125rem; /* 18px */
    }

    .mortgage-calculator {
        max-width: 14.625rem; /* 234px */
        padding: 1.25rem 1rem 1.25rem; /* 20px 16px 20px */
    }

    .mortgage-calc-pirce {
        margin-top: 1rem; /* 20px */
    }

    .mortgage-calc-pirce span {
        font-size: 1.25rem; /* 20px */
    }

    .mortgage-calc-pirce {
        margin-top: 1rem; /* 16px */
    }

    .mortgage-flex {
        margin-top: 1rem; /* 16px */
        gap: 0.75rem; /* 12px */
    }

    .mortgage-selec {
        gap: 0.75rem; /* 12px 12px */
    }

    .mortgage-box {
        padding: 1rem; /* 16px */
    }

    .parking-space-price span {
        font-size: 1.375rem; /* 22px */
    }

    .stock-crash-box strong,
    .parking-space-price strong {
        font-size: 1.5rem; /* 24px */
    }

    .stock-crash-box span {
        font-size: 1.375rem; /* 22px */
    }

    .stock-crash-box .btn-line {
        margin: 2.625rem auto 0; /* 42px auto 0 */
    }

    .parking-space-price span {
        font-size: 1.25rem; /* 20px */
        margin-top: 0.75rem; /* 12px */
    }

    .stock-crash-box {
        padding: 1.25rem 1rem; /* 20px 16px */
        height: 12.1875rem; /* 195px */
    }

    .select-menu-property {
        gap: 0.75rem; /* 12px */
        margin-top: 1.125rem; /* 18px */
    }

    .menu-property-col {
        gap: 0.75rem; /* 12px */
    }
}

@media (max-width: 68.6875rem) { /* 1099px */
    .header-cont-flex {
        display: none;
    }

    .header-logo {
        gap: 1rem; /* 16px */
        width: 100%;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    header {
        margin-top: 1rem; /* 16px */
    }

    .menu-modal-min {
        display: none;
    }

    .menu-modal {
        top: 5.125rem; /* 82px */
    }

    .menu-data-menu ul li {
        padding: 1rem; /* 16px */
        font-size: 1.125rem; /* 18px */
        line-height: 1.25rem; /* 20px */
    }

    .menu-modal-cnt {
        max-width: 20rem; /* 320px */
    }

    .header-nav {
        display: none;
    }

    .menu-data-mobile {
        display: block;
    }

    .menu-data-menu {
        display: none;
    }

    .menu-modal-cnt {
        max-width: 100%;
    }

    .open-menu span {
        width: 1.125rem; /* 18px */
    }

    .menu-data-mobile ul li a {
        padding: 0.625rem; /* 10px */
        width: 100%;
        font-weight: 600;
        font-size: 1rem; /* 16px */
        line-height: 1.25rem; /* 20px */
        color: rgba(11, 58, 42, 1);
        transition: 0.36s;
    }

    .select-property-mobile {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 1.5rem 1rem; /* 24px 16px */
        z-index: 91;
    }

    .select-dropdown {
        background: #FEFFFA;
        border: 1px solid #EFEFEF;
        box-shadow: 0px 0.25rem 0.625rem 0px #0000000D; /* 0px 4px 10px */
        width: 25rem; /* 400px */
        position: fixed;
        top: auto;
        bottom: 0;
        right: auto;
        left: 50%;
        display: block;
        border-radius: 1.5rem 1.5rem 0 0; /* 24px */
        padding: 0.25rem 0 1.5rem; /* 4px 0 24px */
        z-index: 111;
        transform: translateY(130%) translateX(-50%);
        transition: transform 0.3s ease;
        height: auto;
        visibility: visible;
    }

    .menu-modal {
        top: 4.6875rem; /* 75px */
    }

    .select-property-open .select-dropdown {
        height: auto;
        visibility: visible;
    }

    .touchstart-open {
        transform: translateY(0%) translateX(-50%);
    }

    .select-property-open .select-dropdown {
        transform: translateY(0%) translateX(-50%);
    }

    .select-property {
        max-width: 25rem; /* 400px */
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 47.1875rem) { /* 767px */
    .body-fixed {
        overflow: hidden;
    }

    .header-main {
        z-index: 991;
        position: relative;
    }

    .menu-modal {
        top: -1rem; /* -16px */
        background: #EFEFEF;
        padding-bottom: 3.375rem; /* 54px */
        overflow-y: scroll;
        height: calc(100vh);
    }

    .menu-modal::-webkit-scrollbar {
        width: 0;
        height: 0;
        background: unset;
    }

    .menu-modal::-webkit-scrollbar-thumb {
        width: 0;
        height: 0;
        background: unset;
    }

    .menu-modal-fon {
        padding: 0;
        gap: 1.25rem; /* 20px */
        height: auto;
        margin-top: 6rem; /* 96px */
        background: unset;
        box-shadow: unset;
        border: unset;
    }

    .menu-data-link ul li a {
        padding: 0.5rem 1rem; /* 8px 16px */
        font-size: 1.125rem; /* 18px */
        line-height: 1.5rem; /* 24px */
    }

    .btn-line {
        background: unset;
    }

    .menu-modal-cnt .btn {
        width: 100%;
        display: flex;
        margin-top: 1rem; /* 16px */
    }

    .sign-viewing span {
        font-size: 1rem; /* 16px */
    }

    .menu-data-mobile ul li a {
        padding: 0.8125rem 1rem; /* 13px 16px */
        line-height: 1.25rem; /* 20px */
    }

    .menu-modal-cnt .btn {
        background: unset;
    }

    .select-name:after {
        top: 1.1875rem; /* 19px */
    }
}

@media (max-width: 35.625rem) { /* 570px */
    .logo span {
        display: none;
    }

    header .btn {
        height: 2.75rem; /* 44px */
    }

    .menu-data-link ul li a {
        line-height: 1.1875rem; /* 19px */
    }

    .menu-data-mobile ul li a {
        padding: 0.625rem 1rem; /* 10px 16px */
        line-height: 1.125rem; /* 18px */
    }
}
