@import "../font/font.css";
html,

body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
iframe,
ol,
ul,
li,
form,
label,
i,
footer,
header,
menu,
nav,
a,
table,
thead,
tbody,
tfoot,
tr,
th,
td,
video,
canvas,
section,
/*commonly used tags*/
applet,
object,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
hgroup,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
dl,
dt,
dd,
fieldset,
legend,
article,
aside,
details,
embed,
figure,
figcaption,
output,
section,
summary,
time,
mark,
audio,
center,
ruby {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
    position: relative;
}

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    outline: none !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    user-select: none;
    -webkit-user-select: none; /* Для Safari */
    -moz-user-select: none;    /* Для Firefox */
    -ms-user-select: none;     /* Для Internet Explorer */
}
a {
    display: inline-block;
    text-decoration: none;
}

button {
    cursor: pointer;
}

input,
button,
select,
textarea {
    display: inline-block;
    padding: 0;
    border: 0;
    font-family: 'Montserrat';

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
img {
    max-width: 100%;
}
body {
    font-family: 'Montserrat';
    background: rgba(255, 255, 255, 1);

}



.container{
    max-width: 82rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}


@media (max-width: 87.4375rem){
    .container {
        max-width: 74rem;
    }

}


@media (max-width: 75rem){
    .container {
        max-width: 72rem;
        padding: 0 2rem;
    }
}

@media (max-width: 64rem) {
    .container {
        max-width: 60rem;
    }
}

@media (max-width: 47.9375rem) {

    .container {
        max-width: 48rem;
    }

}

@media (max-width: 36rem) {

    .container {
        padding: 0 1rem;
    }

}

















.G-flex {
    display: flex;
}

.G-inline-flex {
    display: inline-flex;
}

.G-center {
    justify-content: center;
    align-items: center;
    display: flex;
}

.G-justify-center {
    justify-content: center;
    display: flex;
}

.G-justify-between {
    justify-content: space-between;
    display: flex;
}

.G-justify-around {
    justify-content: space-around;
    display: flex;
}

.G-justify-end {
    justify-content: flex-end;
    display: flex;
}

.G-align-center {
    align-items: center;
    display: flex;
}

.G-align-start {
    align-items: flex-start;
    display: flex;
}

.G-align-end {
    align-items: flex-end;
    display: flex;
}

.G-flex-column {
    flex-direction: column;
    display: flex;
}

.G-flex-wrap {
    flex-wrap: wrap;
    display: flex;
}



